.idea/
phpMyAdmin/
application/config/config.php
application/config/database.php
application/config/email.php
assets/images/content.jpg
node_modules/
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

# Custom
*.swp
