.idea/
phpMyAdmin/
application/config/config.php
application/config/database.php
application/config/email.php
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
