.index-container {
  width: 1000px;
  margin: 0 auto;
  padding: 8px 0 0 0;
}

.signcontainer {
  height: auto;
  margin-right:30%;
  margin-top:90px;
  margin-left:30%;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB;
}

.indcontainer {
  height: auto;
  margin-top:70px;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 40px;
}

.regcontainer {
  height: auto;
  margin-top:70px;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 40px;
}

.form-group label {
  text-align: center;
}

.form-group .order {
  text-align: center;
  font-weight: bold;
}

.form-group .col-sm-1 {
  text-align: center;
}

.row {
  padding-top: 10px;
}

.pagebody {
  width: 1000px;
  height: auto;
  min-height: 500px;
  margin: 0 auto;
  padding: 8px 0 0 0;
  background: #fff;
}

.pgleft {
  width: 270px;
  float: left;
}

.navi {
  width: 220px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 0px;
  background-color: #f0f0f0;
  text-align: center;
  padding: 15px 0px 10px;
}

.navi:hover {
  background-color: yellow;
}

.navi-top {
  background: url(/assets/images/navi.png) no-repeat left;
}

.navi-top h4 {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: yellow;
  margin:0px;
}

.pgright {
  width: 670px;
  margin: 10px 35px;
  height: auto;
  overflow: hidden;
}

.content {
  margin-top: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB; 
}

.artcontent {
  padding: 10px 20px;
}

.center-video {
  padding-left: 85px;
}

.red {
  color: red;

}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.footer {
  color: #777;
  padding: 20px 0;
  text-align: center;
}
