.index-container {
  padding: 20px 15% 20px;
}

.signcontainer {
    height: auto;
    margin-right:30%;
    margin-top:90px;
    margin-left:30%;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #CBCBCB;
}

.indcontainer {
  height: auto;
  margin-right:5%;
  margin-top:20px;
  margin-left:5%;
  margin-bottom: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
}

.regcontainer {
  height: auto;
  margin-right:10%;
  margin-top:90px;
  margin-left:10%;
  margin-bottom: 40px;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
/*  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB;
*/}

.form-group label {
  text-align: center;
}

.form-group .order {
  text-align: center;
  font-weight: bold;
}

.form-group .col-sm-1 {
  text-align: center;
}

.row {
    padding-top: 10px;
}

.topr {
  width: 450px;
  margin-left: 550px;
  height: 254px;
  float: right;
  position: absolute;
  background: url(/assets/images/rbg.png) no-repeat right;
}

.logo {
  width: 550px;
  height: 254px;
  float: left;
  position: absolute;
  background: url(/assets/images/logo.png) no-repeat right;

}

.pgleft {
  width: 270px;
  float: left;
}

.navi {
  width: 220px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 0px;
  background-color: #f0f0f0;
  text-align: center;
  padding: 15px 0px 10px;
/*  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB;
*/
}

.navi:hover {
  background-color: yellow;
}

.navi-top {
  background: url(/assets/images/navi.png) no-repeat left;
}

.navi-top h4 {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: yellow;
  margin:0px;
}

.pgright {
  width: 670px;
  margin: 10px 35px;
  height: auto;
  overflow: hidden;
}

.content {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #CBCBCB; 
}

.artcontent {
  padding: 10px 20px;
}

.center-video {
  padding-left: 85px;
}
